* {
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.main {
    display: flex;
}


/* Seccion */
.seccion {
    width: 100%;
    padding: 1rem;
    background-color: #8f4141;
    color: black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* Artículos */
.articulo__suscripcion {
    background-color: #eed3d3;
    padding: 1rem;
    border-radius: 1rem;
}


/* Enlace */
.suscripcion__enlace {
    grid-column: 1 / -1;
    justify-self: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.suscripcion__enlace:hover {
    color: #00bfff;
    cursor: pointer;
}





/* Aside */
.aside {
    width: 200px;
    padding: 1rem;
    background-color: #d6b1b1;
}

.aside__lista {
    list-style: none;
    padding: 0;
}

.aside__lista li {
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.aside__lista li:hover {
    color: #00bfff;
}
