
.header {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100px;           
}

/* Seccion */
.seccion {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    background-color: #8f4141;
    color: #000000;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* Artículos */
.articulo__suscripcion {
    background-color: #eed3d3;
    padding: 1rem;
    border-radius: 1rem;
}


/* Enlace */
.suscripcion__enlace {
    grid-column: 1 / -1;
    justify-self: center;
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
}


.suscripcion__enlace:hover {
    text-decoration: underline;
}
