/* --- Variables --- */
:root {
    --color-rosa: #e84c6d;
    --color-verde: #1aa76d;
    --color-beige: #fcfbf2;
    --color-texto-oscuro: #333333;
    --color-texto-claro: #ffffff;
    --fuente-principal: 'Montserrat', sans-serif;
}

/* --- Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 100%;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-beige);
    font-size: 1rem; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul { 
    list-style: none; 
}


a {
    text-decoration: none;
    color: var(--color-texto-claro);
    transition: color 0.3s;
}


.titulo-seccion {
    text-align: center;
    font-size: 2rem; /* 32px aprox */
    font-weight: 700;
    margin-bottom: 2.5rem; /* 40px aprox */
}

.texto-verde { 
    color: var(--color-verde); 
}

.texto-blanco { 
    color: var(--color-texto-claro); 
}

.texto-rosa-izquierda { 
    color: var(--color-rosa); 
    text-align: left; 
    margin-bottom: 1.5rem;
}

/* --- Botones --- */
.boton {
    border: none;
    border-radius: 0.25rem;
    font-family: var(--fuente-principal);
    font-weight: 600;
}

.boton:hover {
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-rosa {
    background-color: var(--color-rosa);
    color: var(--color-texto-claro);
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
}

.boton-rosa-peque {
    background-color: var(--color-rosa);
    color: var(--color-texto-claro);
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
}

.boton-verde {
    background-color: var(--color-verde);
    color: var(--color-texto-claro);
    padding: 0.9rem;
    width: 100%;
    font-size: 1rem;
}

/* ================= HEADER ================= */
header {
    background-color: var(--color-rosa);
    color: var(--color-texto-claro);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { 
    height: 5rem;
    width: auto; 
}

.contenido-cabecera {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.eslogan { 
    font-size: 0.9rem; 
}

header nav ul { 
    display: flex; 
    gap: 2rem; 
}

header nav ul li a { 
    font-weight: 600; 
    font-size: 1.1rem; 
}

header nav ul li a:hover { 
    opacity: 0.8; 
}

/* ================= SECCIÓN RECETA ================= */
.seccion-receta {
    padding: 4rem 5%;
    background-color: var(--color-beige);
}

.contenedor-receta {
    max-width: 68.75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.imagen-receta {
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.1);
}

.info-receta { 
    color: var(--color-texto-oscuro); 
}

.info-receta h3 { 
    font-size: 1.5rem;
    color: var(--color-rosa); 
    margin-bottom: 1rem; 
}
.info-receta p { 
    line-height: 1.6; 
    margin-bottom: 1.5rem; 
    font-size: 0.95rem; 
}

.boton-receta:hover {
    background-color: var(--color-verde);
    transform: translateY(-0.2rem);
}

/* ================= SECCIÓN EQUIPO ================= */
.seccion-equipo {
    background-color: var(--color-verde);
    padding: 4rem 5%;
    color: var(--color-texto-claro);
}

.cuadricula-equipo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 75rem;
    margin: 0 auto;
}

.cuadricula-equipo li {
    width: 20%;
    max-width: 17.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cuadricula-equipo img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
}

.cuadricula-equipo h4 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

.acciones-chef {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.icono-corazon:hover {
    font-size: 1.2rem;
    color: var(--color-texto-claro);
    transition: color 0.3s ease;
}

.boton-chef:hover {
    background-color: #ffffff;
    color: var(--color-verde);
}

.icono-corazon:hover {
    color: var(--color-rosa);
    transform: scale(1.2);
}

/* ================= SECCIÓN RESERVA ================= */
.seccion-reserva {
    background-color: var(--color-beige);
    padding: 5rem 5%;
}

.contenedor-reserva-flex {
    max-width: 69rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.contenedor-formulario { 
    max-width: 28rem;
}

.seccion-reserva form { 
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
}

.seccion-reserva input {
    padding: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-family: var(--fuente-principal);
    font-size: 0.9rem;
    width: 100%;
    background-color: #fff;
}

.imagen-reserva {
    max-width: 31rem;
    width: 20rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.9rem rgba(0,0,0,0.1);
}

.boton-reserva:hover {
    background-color: var(--color-rosa);
}

/* ================= FOOTER ================= */
footer {
    background-color: var(--color-rosa);
    color: var(--color-texto-claro);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.enlaces-pie{ 
    display: flex; 
    gap: 1.5rem; 
}

